.header {
  grid-row: 1/ 2;
  grid-column: 1/ -1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url("../imgs/headers_bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  .active-nav {
    position: fixed;
  }

  .nav {
    width: 100%;
    height: 6rem;
    background-color: rgba($color-black, 0.5);
    display: grid;
    grid-template-columns: minmax(min-content, 85%) minmax(55%, 66%);
    // grid-template-rows: max-content;
    align-items: center;
    box-shadow: $box-shadow;
    z-index: 2000;
    transition: all 0.3s;

    @include respond(small) {
      display: grid;
      grid-template-columns: minmax(min-content, 85%) minmax(min-content, 15%);
      grid-template-rows: 6rem 100vh;
    }

    .nav-logo {
      grid-column: 1 /2;
    }
    .logo {
      @include nav-link;
      @include logo;
      margin-left: 7rem;

      @include respond(medium) {
        margin-left: 4rem;
      }
    }
    &-toggle {
      display: none;

      @include respond(small) {
        display: block;
        grid-column: 2 /3;
      }
    }
    .nav-icon {
      @include respond(small) {
        width: 3.5rem;
        height: 3rem;
        fill: url(#icon-gradient);

        &:hover {
          fill: url(#icon-gradient2);
        }
      }
    }

    &-list-bg {
      grid-column: 2 /3;
      display: grid;

      @include respond(small) {
        // grid-row: 2/ 3;
        grid-column: 1 /3;
        display: grid;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0vh;
        left: -100%;
        transition: all 0.3s;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1rem);
      }
      .nav-list {
        @include respond(small) {
          position: absolute;
          top: 0vh;
          left: -100%;
          grid-column: 1 /2;
          display: grid;
          grid-template-rows: 20% 80%;
          width: 25rem;
          height: 100vh;
          background-color: $background-dark;
          z-index: 2;
          transition: all 0.5s;
        }
        .list-logo {
          display: none;
          @include respond(small) {
            display: grid;
            margin-top: 10rem;
            border-bottom: 1px $background-light solid;
          }
        }
        &-container {
          display: grid;
          grid-template-columns: repeat(6, 10rem);
          justify-items: center;

          @include respond(medium) {
            grid-template-columns: repeat(6, 8.5rem);
          }

          @include respond(small) {
            display: flex;
            flex-direction: column;
          }
        }
        .nav-link {
          @include nav-link;
          transition: all 0.1s;

          @include respond(small) {
            padding: 1.5rem 2rem;
            border-bottom: 1px $background-light solid;
          }
          &:hover {
            color: $primary-color;
            border-left: 3px $primary-color solid;
          }
        }

        .active {
          color: $primary-color;
        }
        .act {
          @include respond(small) {
            border-left: 3px $primary-color solid;
          }
        }
      }
    }
    .bg-appear {
      left: 0;
    }
    .toggle-nav {
      left: 0;
    }
  }

  .header-details {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-top: 9rem;
    .profile-img--div {
      grid-row: 1 /2;
      display: grid;
      justify-self: center;
      grid-column: 2 /3;
      width: 20rem;
      height: 20rem;

      #profile-img {
        box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      grid-row: 2 /3;
      grid-column: 2 /3;
      text-align: center;
      background: $text-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 7rem;
      font-weight: bolder;
      @include respond(small) {
        font-size: 6rem;
      }
      @include respond(smallest) {
        font-size: 4rem;
      }
    }
    p {
      grid-row: 3 /4;
      grid-column: 2 /3;
      text-align: center;
      font-size: 2.5rem;
      color: $secondary-color;
      @include respond(smallest) {
        font-size: 1.7rem;
      }
    }
  }
}
