.skills {
  background-color: $background-dark;
  grid-row: 4/ 5;
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, minmax(min-content, 20rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: min-content max-content;
  justify-content: center;
  padding: 15rem 0;
 
  &-header {
    grid-row: 1/ 2;
    grid-column: 2/ 6;
    display: grid;
    justify-items: center;
  }
  &-content {
    grid-row: 2/ 3;
    grid-column: 2/ 6;
    display: grid;
    grid-template-columns: repeat(3, minmax(27rem, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 5rem;

    @include respond(medium) {
      grid-template-columns: repeat(2, minmax(25rem, 40rem));
    }
    @include respond(smallest) {
      grid-template-columns: minmax(20rem, 40rem);
    }

    .skill {
      width: 100%;
      margin-bottom: 10rem;
      display: grid;
      grid-row-gap: 1rem;

      &:nth-child(n + 7) {
        margin-bottom: 0;
        @include respond(medium) {
          margin-bottom: 10rem;
        }
      }
      &:nth-child(n + 9) {
        @include respond(medium) {
          margin-bottom: 0;
        }
      }
      &-name {
        font-size: 1.8rem;
      }
      &-bar {
        height: 0.3rem;
        border: 1px $background-light solid;
        box-shadow: $box-shadow;
        border-radius: 1rem;
      }
      &-percentage {
        height: 0.2rem;
        // background-color: $primary-color;
        border: 1px $primary-color solid;
        // background: $gradient-right;
        border-radius: 1rem;
        width: 0;
        transition: 1s linear;
        position: relative;
        &::before {
          content: attr(per);
          position: absolute;
          width: 1.5rem;
          height: 1rem;
          border: 1px $primary-color solid;
          // background: $gradient-right;
          top: -3rem;
          right: 0;
          transform: translateX(50%);
          padding: 0.5rem 0.6rem;
          color: $primary-color;
          box-shadow: 0.5px 0.5px 4px $primary-color;
          display: flex;
          justify-content: center;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0.7rem;
          height: 0.7rem;
          background-color: $background-dark;
          border-right: 1px $primary-color solid;
          border-bottom: 1px $primary-color solid;
          // background: $gradient-right;
          top: -1.3rem;
          right: 0;
          transform: translateX(50%) rotate(45deg);
        }
      }
    }
  }
}
