//COLORS
$primary-color: #c79864;
$secondary-color: #ffffff;
$color-black: #000000;
$background-light: #24283d;
$background-dark: #1f2233;
$gradient-light: #c79660;
$gradient-dark: #cc813c;
$tertiary-color: #808181;

$gradient-right: linear-gradient(to right, #c79660, #cc813c);
$gradient-left: linear-gradient(to left, $gradient-light, $gradient-dark);
$text-gradient: linear-gradient(to right, #d6a979, #d87920);

$box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
